
body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/heibao.png") no-repeat;
  font: 16px;
  line-height: 1.5;
  font-family: Lobster, Monospace;
}



h1 {
	font-family: Lobster, Monospace;
}

.medium-image {
	width: 800px;
  }

.white-border {
	background-color: #FFF;
	border-color: #FFF;
	border-width: 10px;
	border-style: solid;
	border-radius: 3px;
}

.gray-box {
	background-color: #E0E0E0;
	border-color: #E0E0E0;
	border-width: 50px;
	border-style: solid;
	border-radius: 10px;
	width: 800px;
	background: #151515 url("../images/heibao.png") no-repeat;
	background-size:contain;
}

.extern-box {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	
}

.img-description {
	opacity: 1;
}

.life-description {
	padding: 10px 100px 10px 100px;
}